{% extends "template.html" %}
{% block title %}404{% endblock %}
{% block nav %}
    <nav class="navbar">
        <div class="navbar-left">
            <img src="../static/images/logo_most.png" alt="Logo_Most" height="40px">
            <p>Rezervační<br/>systém Most</p>
        </div>
    </nav>
{% endblock %}
{% block main %}
    <main>
        <div class="column-div">
            <h1 class="error">404</h1>
            <h3 class="error">Stránka nebyla nalezena</h3>
        </div>
    </main>
{% endblock %}