{% extends "template.html" %}
{% block title %}Login{% endblock %}
{% block nav %}
    <div class="navbar">
        <img src="../static/images/logo_most.png" alt="Logo_Most" height="40px">
        <p>Rezervační<br/>systém Most</p>
    </div>
{% endblock %}
{% block main %}
    <div class='log_div'>
        <form action='post'>
            <input class='input-box' id='login_email' type='text' placeholder='Email' name='login_email'>
            
            <input class='input-box' id='login_heslo' type='password' placeholder='Heslo' name='login_heslo'>
            <a class="zapomenute_heslo_odkaz" href="/zapomenute_heslo">Zapomněl jsem heslo</a>
            <button type='submit' name='potvrdit'>Přihlásit</button>
        </form>
    </div>
{% endblock %}