{% extends 'template.html' %}
{% block title %}Logy{% endblock %}
{% block nav %}
    {% include 'nav_bar_admin.html' %}
{% endblock %}
{% block main %}
<main class="term-main">
    <div class="column-div">
        <form action="{{ url_for('logs')}}" method="post" id="search-form">
            <select name="autoskola" id="autoskola">
                <option value="" disabled selected>Autoškola</option>
                {% for autoskola in autoskoly %}
                <option value="{{autoskola['id']}}">{{ autoskola['nazev'] }}</option>
                {% endfor %}
            </select>
            <select name="druh" id="druh">
                <option value="" disabled selected>Druh</option>
                <option value="zápis">Zápis</option>
                <option value="odpis">Odpis</option>
                <option value="přidání">Přidání</option>
                <option value="odebrání">Odebrání</option>
                <option value="přihlásil se">Přihlásil se</option>
                <option value="odhlásil se">Odhlásil se</option>
            </select>
            <input type="date" id="datum" name="datum"/>
        </form>
        <button type="submit" form="search-form" value="Submit" >Vyhledat</button>
        {% if logs %}
        <div class="logs-container">
            {% for log in logs %}
                <div id="{{log['id']}}" class="log">
                    <div class="log-zprava">{{log['autoskola']}}</div>
                    <div class="log-zprava">{{log['kdy'].strftime('%d.%m.%Y')}}</div>
                    <div class="log-zprava">{{log['druh']}}</div>
                    <div class="log-zprava">{{log['zprava']}}</div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}