{% extends "template.html" %}
{% block title %}Calendar{% endblock %}
{% block nav %}
    {% if superadmin|default(false) %}
        {% include 'nav_bar_superadmin.html' %}
    {% elif admin|default(false) %}
        {% include 'nav_bar_admin.html' %}
    {% else %}
        {% include 'nav_bar_commisar.html' %}
    {% endif %}
{% endblock %}
{% block main %}
    <main class="calendar_main">
        <div class="calendar">
            <div class="header">
                <button class="medium-calendar-button small-calendar-button" id="prevMonth">&lt;</button>
                <div id="monthYear"></div>
                <button class="medium-calendar-button small-calendar-button" id="nextMonth">&gt;</button>
            </div>
            <div class="weekdays">
                <div>Po</div>
                <div>Út</div>
                <div>St</div>
                <div>Čt</div>
                <div>Pá</div>
                <div>So</div>
                <div>Ne</div>
            </div>
            <div id="days" class="days">

            </div>
        </div>
        <div id="calendar_menu" class="calendar_menu">                 
            <form>
                <div class="input-group">
                    <label for="pocet_mist">Počet míst:</label>
                    <input type="number" id="pocet_mist" name="pocet_mist" value="12" required>
                </div>
                <button id="create_term_btn" type="submit" class="confirm-btn">POTVRDIT</button>
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script_calendar.js') }}"></script>

{% endblock %}