{% extends "template.html" %}
{% block title %}Calendar{% endblock %}
{% block nav %}
    <nav>
        <div class="navbar">
            <img src="../static/images/logo_most.png" alt="Logo_Most" height="40px">
            <p>Rezervační<br/>systém Most</p>
            <a class="logout" href="{{ url_for('logout') }}">Odhlásit se</a>
        </div>
    </nav>
{% endblock %}
{% block main %}
{% include 'message.html' %}
    <main class="calendar_main">
        <div class="calendar">
            <div class="header">
                <button id="prevMonth">&lt;</button>
                <div id="monthYear"></div>
                <button id="nextMonth">&gt;</button>
            </div>
            <div class="weekdays">
                <div>Po</div>
                <div>Út</div>
                <div>St</div>
                <div>Čt</div>
                <div>Pá</div>
                <div>So</div>
                <div>Ne</div>
            </div>
            <div id="days" class="days">

            </div>
        </div>
        <div class="calendar_menu">                 
            <form>
                <div class="input-group">
                    <label for="pocet_mist">Počet míst:</label>
                    <input type="number" id="pocet_mist" name="pocet_mist" value="12">
                </div>
                <button type="submit" class="confirm-btn">POTVRDIT</button>
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script_calendar.js') }}"></script>
{% endblock %}