{% extends "template.html" %}
{% block title %}Calendar{% endblock %}
{% block nav %}
    {% include 'nav_bar.html' %}
{% endblock %}
{% block main %}
    <main class="calendar_main_user">
        <div class="calendar">
            <div class="header">
                <button id="prevMonth">&lt;</button>
                <div id="monthYear"></div>
                <button id="nextMonth">&gt;</button>
            </div>
            <div class="weekdays">
                <div>Po</div>
                <div>Út</div>
                <div>St</div>
                <div>Čt</div>
                <div>Pá</div>
                <div>So</div>
                <div>Ne</div>
            </div>
            <div id="days" class="days">

            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script_calendar_user.js') }}"></script>
{% endblock %}