<nav class="nav_bar-desktop">
    <div class="navbar-left">
        <img src="../static/images/logo_most.png" alt="Logo_Most" height="40px">
        <p>Rezervační<br>systém Most</p>
    </div>
    <div class="navbar-links">
        <a class="logout" href="{{ url_for('calendar') }}">Kalendář</a>
        <a class="logout" href="{{ url_for('teaching_training') }}">Výuka a výcvik</a>
        <a class="logout" href="{{ url_for('profile') }}">Profil</a>
        <a class="logout" href="{{ url_for('logs') }}">Záznamy</a>
        <a class="logout" href="{{ url_for('new_driving_school') }}">Nová Autoškola</a>
        <a class="logout" href="{{ url_for('logout') }}">Odhlásit se</a>
    </div>
</nav>