<!--new_driving_school.html-->
{% extends "template.html" %}
{% block title %}Nová autoškola{% endblock %}
{% block nav %}
    {% if superadmin|default(false) %}
        {% include 'nav_bar_superadmin.html' %}
    {% else %}
        {% include 'nav_bar_admin.html' %}
    {% endif %}
{% endblock %}
{% block main %}
    <main class="calendar_main">
        <div class="column-div">
            <div class="form-container">
                <form action="/new_driving_school" method="POST">
                    <div class="grid-for-4" style="grid-template-columns: 1fr 1fr 1fr 1fr;">
                        <div class="center-div">
                            <label for="nazev">Název: </label>
                            <input class="input-box2" type="text" id="nazev" name="nazev" placeholder="Autoškola" required>
                        </div>
                        <div class="center-div">
                            <label for="email">E-mail: </label>
                            <input class="input-box2" type="email" id="email" name="email" placeholder="E-mail" required>
                        </div>
                        <div class="center-div">
                            <label for="datova-schranka">Datová schránka: </label>
                            <input class="input-box2" type="text" id="datova-schranka" name="datova-schranka" placeholder="Datová schránka" required>
                        </div>
                        <div class="center-div">
                            <label for="adresa">Adresa: </label>
                            <input class="input-box2" type="text" id="adresa" name="adresa" placeholder="Adresa" required>
                        </div>
                    </div>
                    <div class="center-div margin-top-10">    
                        <button type="submit" class="confirm-btn" style="width: 150px; height: 30px;">Přidat</button>
                    </div>
                </form>
            <div id="new_dr_school-text" class="center-div">
                <p>
                    Po založení nové autoškoly bude na zadaný e-mail zaslán manuál k používání aplikace a <br>
                    odkaz pro změnu hesla. Odkaz bude aktivní po dobu 48 hodin,<br> 
                    po jejichž uplynutí přestane být platný a bude nutné autoškolu vytvořit znovu.  
                </p>
            </div>
            </div>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("adresa").addEventListener("input", function () {
                const adresaInput = this;
                const regex = /^([\p{L}\s]+) (\d+), ([\p{L}\s]+),(\d{3} \d{2})$/u;
                if (!regex.test(adresaInput.value)) {
                    adresaInput.setCustomValidity("Adresa musí být ve formátu: Ulice a číslo popisné, Město, PSČ (např. Václavská 12, Praha, 110 00)");
                } else {
                    adresaInput.setCustomValidity("");
                }
            });
        });
    </script>
        
{% endblock %}