{% extends 'template.html' %}
{% block title %}Profil{% endblock %}
{% block nav %}
    <nav>
        <div class="navbar">
            <img src="../static/images/logo_most.png" alt="Logo_Most" height="40px">
            <p>Rezervační<br/>systém Most</p>
            <a class="logout" href="{{ url_for('logout') }}">Odhlásit se</a>
        </div>
    </nav>
{% endblock %}
{% block main %}
<main class="main">
    <div class="column-div">
        {% for vozidlo in vozidla %}
            <div>{{vozidlo.znacka}} {{ vozidlo.model }} {{vozidlo.spz}}</div>
        {% endfor %}
    </div>        
</main>
{% endblock %}