{% extends 'template.html' %}
{% block title %}Profile{% endblock %}
{% block nav %}
    <nav>
        <div class="navbar">
            <img src="../static/images/logo_most.png" alt="Logo_Most" height="40px">
            <p>Rezervační<br/>systém Most</p>
            <a class="logout" href="{{ url_for('logout') }}">Odhlásit se</a>
        </div>
    </nav>
{% endblock %}
{% block main %}
<main class="main">
    <div class="column-div">
        <div class='user-info'>
            <div>{{ autoskola.nazev }}</div>
            <div>{{ autoskola.adresa_u }}</div>
        </div>
        <div class="contain-two-divs">
            <div class="vehicle-list">
                {% for vozidlo in vozidla %}
                    <div class="vehicle-column">{{vozidlo.znacka}} {{ vozidlo.model }} {{vozidlo.spz}}</div>
                {% endfor %}
            </div>
            <div class="vehicle-add">
                <form action="/api/add_vehicle" id="vehicle-form" autocomplete="off" method="post">
                    <label for="znacka">Značka:</label>
                    <input type="text" name="znacka" id="znacka">
                    <label for="model">Model:</label>
                    <input type="text" name="model" id="model">
                    <label for="spz">Spz:</label>
                    <input type="text" name="spz" id="spz">
                    <button type="submit" form="vehicle-form">Přidat</button>
                </form>
            </div>  
        </div>
    </div>        
</main>
{% endblock %}