{% extends 'template.html' %}
{% block title %}Profil{% endblock %}
{% block nav %}
    {% include 'nav_bar.html' %}
{% endblock %}
{% block main %}
<main class="term-main">
    <div class="column-div">
        <div class='user-info'>
            <h2 class="school-name">{{ autoskola.nazev }}</h2>
        </div>
        <div class="grid-for-2">
            <div class="vehicle-list">
                <div class="grid-for-3 vycentrovat-text">
                    <div style="font-weight: bold;">Značka</div>
                    <div style="font-weight: bold;">Model</div>
                    <div style="font-weight: bold;">Registrační značka</div>
                </div>
                {% for vozidlo in vozidla %}
                    <div class="grid-for-3">
                        <div class="center-div">{{vozidlo.znacka}}</div>
                        <div class="center-div">{{vozidlo.model}}</div>
                        <div class="center-div">{{vozidlo.spz}}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="vehicle-add">
                <form action="/api/add_vehicle" id="vehicle-form" autocomplete="off" method="post">
                    <div class="center-div margin-top-10">
                        <label for="znacka">Značka:</label>
                        <input type="text" name="znacka" id="znacka" required>
                    </div>
                    <div class="center-div margin-top-10">
                        <label for="model">Model:</label>
                        <input type="text" name="model" id="model" required>
                    </div>
                    <div class="center-div margin-top-10">
                        <label for="spz">RZ:</label>
                        <input type="text" name="spz" id="spz" required>
                    </div>
                    <div class="center-div">
                        <button class="form-button margin-top-10 margin-bot-10" type="submit" form="vehicle-form">Přidat</button>
                    </div>
                </form>
            </div>  
        </div>
    </div>        
</main>
{% endblock %}