{% extends 'template.html' %}
{% block title %}Výuka a výcvik{% endblock %}
{% block nav %}
    {% if superadmin|default(false) %}
        {% include 'nav_bar_superadmin.html' %}
    {% elif admin|default(false) %}
        {% include 'nav_bar_admin.html' %}
    {% else %}
        {% include 'nav_bar_commisar.html' %}
    {% endif %}
{% endblock %}
{% block main %}
<main class="term-main">
    <div class="column-div">
        <div id="for-form">
            <form>
                <div class="grid-for-4 margin-top-10 box-row small-gap">
                    <div>
                        <select class="input-box3" name="driving-school" id="driving-school">
                            <option value="" disabled selected hidden>Autoškola</option>
                            {% for autoskola in autoskoly %}
                                <option value="{{autoskola.id}}">{{autoskola.nazev}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input class="input-box3" type="text" name="adress" id="adress" placeholder="Adrasa účebny" required> 
                    </div>
                    <div >
                        <input class="input-box3" type="date" name="start-of-training" id="start-of-training" required> 
                    </div>
                    <div >  
                        <select class="input-box2" name="vehicle-list" id="vehicle-list"  multiple required>
                            <option value="">------------------</option>
                            {% for vozidlo in vozidla %}
                                <option value="{{vozidlo.znacka}}_{{vozidlo.model}}_{{vozidlo.spz}}">{{vozidlo.znacka}} {{vozidlo.model}} {{vozidlo.spz}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>        
        </div>   
        <div class="form-container">
            <div id="form-list">
                <form class="exam-form">
                    <div class="student-line-admin-grid-8">
                        <div class="form-group">
                            <input type="text" name="evidence_number" id="evidence_number" placeholder="E. č." required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" placeholder="Jméno" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" placeholder="Příjmení" required>
                        </div>
                        <div class="form-group">
                            <input type="date" name="birth_date" id="birth_date" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="adress" id="adress" placeholder="Adrasa" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="drivers_license" id="drivers_license" title="Nepovinné" placeholder="Číslo ř. p.">
                        </div>
                        <div class="form-group">
                            <select name="license_category" id="license_category">
                                <option value="A">A</option>
                                <option value="B" selected>B</option>
                                <option value="C">C</option>
                                <option value="C+E">C+E</option>
                                <option value="D">D</option>
                                <option value="D+E">D+E</option>
                                <option value="T">T</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="type-of-teaching" id="type-of-teaching">
                                <option value="základní-výuka-a-výcvik" selected>Základní výuka a výcvik</option>
                                <option value="sdružená-výuka-a-výcvik">Sdružená výuka a výcvik</option>
                                <option value="rozšiřující-výuka-a-výcvik">Rozšiřující výuka a výcvik</option>
                                <option value="výuka-a-výcvik-podle-individuálního-plánu">Výuka a výcvik podle individuálního plánu</option>
                                <option value="doplňující-výuka-a-výcvik">Doplňující výuka a výcvik</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="buttons center-div margin-top-10">
                <button class="form-button" type="button" id="add-form">Přidat další formulář</button>
                <button class="form-button" type="button" id="remove-form">Odebrat poslední formulář</button>
            </div>
            <div class="buttons center-div margin-top-10 margin-bot-10">
                <button class="form-button" type="submit" id="submit-forms">Odeslat všechny formuláře</button>
            </div>
        </div>
        <div id="Výuka_a_výcvik-text" class="center-div">
            <p style="font-family: Work Sans;">
                Tato stránka slouží pro zápis studentů do výuky a výcviku(VaV). V horním panelu zadáváte autoškolu, den zahájení VaV, adresa, kde bude výuka probíhat a seznam vozidel.<br>
                Do spodního panelu zapisujete informace o žácích. Tlačítkem 'Přidat další formulář' si přidáte řádek a tlačitkem 'Odebrat poslední formulář' si smažete poslední.<br> 
                Po vyplnění všech potřebných polí tlačítkem 'Odeslat všechny formuláře' odešlete všechny formuláře.
            </p>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='script_sign_up_admin.js') }}"></script>
<script>
    $(document).ready(function() {
        // Initialize Select2 on the select element with id="vehicle-list"
        $('#vehicle-list').select2({
            placeholder: "Vyberte autoškolu",  // Volitelný placeholder
            allowClear: true  // Přidá možnost vymazání výběru
        });
    });
</script>
{% endblock %}