<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <Title>{% block title %}{% endblock %}</Title>
    <link rel="stylesheet" media="screen and (min-width: 1200px)" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!--<link rel="stylesheet" media="screen and (max-width: 768px)" href="{{ url_for('static', filename='styles_small.css') }}">-->
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1200px)" href="{{ url_for('static', filename='styles_medium.css') }}">
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Include font 'Work Sans' -->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- Include Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Include Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>   
</head>

<body>
    <header>
        {% block nav %}
        {% endblock %}
    </header>
    {% block main %}
    {% endblock %}
    

    <footer>
        {%block footer %}
        {% endblock %}
    </footer>
</body>


</html>