{% extends 'template.html' %}
{% block title %}{{termin.datum}}{% endblock %}
{% block nav %}
    <nav>
        <div class="navbar">
            <img src="../static/images/logo_most.png" alt="Logo_Most" height="40px">
            <p>Rezervační<br/>systém Most</p>
            <a class="logout" href="{{ url_for('logout') }}">Odhlásit se</a>
        </div>
    </nav>
{% endblock %}
{% block main %}
    <main class="term-main">
        <div class="column-div">
            <div class="term-info">       
                <div>{{termin.datum}}</div>
                <div>{{termin.max_ridicu}}</div>
                <div>{{ volna_mista }}</div> 
            </div>
        {% for nazev, students in list_as.items() %}
            <div class="students-container-admin" id="{{nazev}}">
                <div class="nazev">{{nazev}}</div>
                {% for zak in students %}
                    {% if zak['potvrzeni'] == 'Y' %}
                        <div class="student-line-admin" id="zak_{{ zak['id'] }}">
                            <div>zapsany</div>
                            <div>{{ zak['ev_cislo']}}</div>
                            <div>{{ zak['jmeno']}}</div>
                            <div>{{ zak['prijmeni']}}</div>
                            <div>{{ zak['narozeni']}}</div>
                            <div>{{ zak['typ_zkousky']}}</div>
                            <div>{{ zak['druh_zkousky']}}</div>
                            <div>{{ zak['komisar'] }}</div>
                            <div>{{ zak['cas']}}</div>         
                        </div>
                    {% else %}
                        <div class="student-line-admin" id="zak_{{ zak['id'] }}">                       
                            <div>{{ zak['ev_cislo']}}</div>
                            <div>{{ zak['jmeno']}}</div>
                            <div>{{ zak['prijmeni']}}</div>
                            <div>{{ zak['narozeni']}}</div>
                            <div>{{ zak['typ_zkousky']}}</div>
                            <div>{{ zak['druh_zkousky']}}</div>
                            <input type="time" name="time-start" id="time-zak_{{zak['id']}}" placeholder="začátek" value="8:00" required>
                            <select name="commissar" id="commissar-for-zak_{{zak['id']}}" required>
                                {% for komisar in komisari %}
                                    <option value="{{komisar['id']}}">{{komisar['jmeno']}} {{komisar['prijmeni']}}</option>
                                {% endfor %}
                            </select>
                            <button onclick="enrollStudent('{{ zak['id'] }}')">Enroll</button>         
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </main>
    <script>
        function enrollStudent(zakId) {
            const studentDiv = document.getElementById(`zak_${zakId}`);

            
            const timeStart = document.getElementById(`time-zak_${zakId}`).value;
            const commissar = document.getElementById(`commissar-for-zak_${zakId}`).value;
            
            const data = {
                id: zakId, 
                time_start: timeStart,
                commissar: commissar
            };
            
            fetch('/enroll', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error('Failed to enroll student');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
{% endblock %}