{% extends 'template.html' %}
{% block title %}{{termin.datum.strftime('%d.%m.%Y')}}{% endblock %}
{% block nav %}
    {% include 'nav_bar.html' %}
{% endblock %}
{% block main %}
<main class="term-main">
    <div class="column-div">
        <div class="term-container">       
            <h3>Datum: {{termin.datum.strftime('%d.%m.%Y')}}</h3>
            <h3>Místa: {{termin.max_ridicu}}</h3>
            <h3>Volná místa: {{ volna_mista }}</h3> 
        </div>
        <input type="hidden" id="max-forms" value="{{ volna_mista }}">
        {% if zaci_Y %}
            <div class="students-container" id="students_container">
                {% for zak in zaci_Y %}
                    <div class="student-line" id="zak_{{ zak['id'] }}">
                        <div>{{ zak['ev_cislo']}}</div>
                        <div>{{ zak['jmeno']}}</div>
                        <div>{{ zak['prijmeni']}}</div>
                        <div>{{ zak['narozeni'].strftime('%d.%m.%Y')}}</div>
                        <div>{{ zak['typ_zkousky']}}</div>
                        <div>{{ zak['druh_zkousky']}}</div>
                        <div>{{ zak['cas']}}</div>
                    </div> 
                {% endfor %}
            </div>
        {% endif %}
        {% if zaci_W %}
            <div class="students-container_button" id="students_container">
                {% for zak in zaci_W %}
                    <div class="student-line" id="zak_{{ zak['id'] }}">
                        <div>{{ zak['ev_cislo']}}</div>
                        <div>{{ zak['jmeno']}}</div>
                        <div>{{ zak['prijmeni']}}</div>
                        <div>{{ zak['narozeni'].strftime('%d.%m.%Y')}}</div>
                        <div>{{ zak['typ_zkousky']}}</div>
                        <div>{{ zak['druh_zkousky']}}</div>
                        <button class="delete-student" id="delete-student" data-zakId="{{zak['id']}}" data-terminId="{{termin.id}}">Smazat</button>
                    </div> 
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-container">
            <div id="form-list">
                <form class="exam-form">
                    <div class="form-line">
                        <div class="form-group">
                            <input type="text" name="evidence_number" id="evidence_number" placeholder="E.č" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" placeholder="Jméno" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" placeholder="Příjmení" required>
                        </div>
                        <div class="form-group">
                            <input type="date" name="birth_date" id="birth_date" required>
                        </div>
                        <div class="form-group">
                            <select name="license_category" id="license_category">
                                <option value="A">A</option>
                                <option value="B" selected>B</option>
                                <option value="C">C</option>
                                <option value="C+E">C+E</option>
                                <option value="D">D</option>
                                <option value="D+E">D+E</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="exam_type" id="exam_type">
                                <option value="Řádná_zkouška" selected>Řádná zkouška</option>
                                <option value="Opravná_zkouška-test+jízda">Opravná zkouška (jízda+test)</option>
                                <option value="Opravná_zkouška-jízda">Opravná zkouška (jízda)</option>
                                <option value="Opravná_zkouška-technika">Opravná zkouška (technika)</option>
                                <option value="Opravná_zkouška-technika+jízda">Opravná zkouška (technika+jízda)</option>
                                <option value="Profesní_způsobilost-test">Profesní způsobilost</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="buttons center-div margin-top-10">
                <button type="button" id="add-form">Přidat další formulář</button>
                <button type="button" id="remove-form">Odebrat poslední formulář</button>
            </div>
            <div class="buttons center-div margin-top-10 margin-bot-10">
                <button type="submit" id="submit-forms">Odeslat všechny formuláře</button>
            </div>
        </div>
    </div>
</main>
    <script src="{{ url_for('static', filename='script_term.js') }}"></script>
    <script src="{{ url_for('static', filename='deferScript_term.js') }}" defer></script>
{% endblock %}