{% extends 'template.html' %}
{% block title %}{{termin.datum}}{% endblock %}
{% block nav %}
    <nav>
        <div class="navbar">
            <img src="../static/images/logo_most.png" alt="Logo_Most" height="40px">
            <p>Rezervační<br/>systém Most</p>
            <a class="logout" href="{{ url_for('logout') }}">Odhlásit se</a>
        </div>
    </nav>
{% endblock %}
{% block main %}
    <main class="term-main">
        <div class="column-div">
            <div class="term-info">       
                <div>{{termin.datum}}</div>
                <div>{{termin.max_ridicu}}</div>
                <div>{{ volna_mista }}</div> 
            </div>
        {% for nazev, students in list_as.items() %}
            <div class="students-container" id="{{nazev}}">
                <div class="nazev">{{nazev}}</div>
                {% for zak in students %}
                    {% if zak['potvrzeni'] == 'Y' %}
                        <div class="student-line" id="zak_{{ zak['id'] }}">
                            <p>zapsany zak</p>
                            <p>{{ zak['ev_cislo']}}</p>
                            <p>{{ zak['jmeno']}}</p>
                            <p>{{ zak['prijmeni']}}</p>
                            <p>{{ zak['narozeni']}}</p>
                            <p>{{ zak['typ_zkousky']}}</p>
                            <p>{{ zak['druh_zkousky']}}</p>         
                        </div>
                    {% else %}
                    <div class="student-line" id="zak_{{ zak['id'] }}">
                        <p>NEEEEEEEEEEEEE</p>
                        <p>{{ zak['ev_cislo']}}</p>
                        <p>{{ zak['jmeno']}}</p>
                        <p>{{ zak['prijmeni']}}</p>
                        <p>{{ zak['narozeni']}}</p>
                        <p>{{ zak['typ_zkousky']}}</p>
                        <p>{{ zak['druh_zkousky']}}</p>         
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </main>
{% endblock %}