{% extends 'template.html' %}
{% block title %}{{termin.datum}}{% endblock %}
{% block nav %}
    {% include 'nav_bar.html' %}
{% endblock %}
{% block main %}
    <main class="term-main">
        <div class="column-div">
            <div class="term-container">       
                <div></div>
                <h3>{{termin.datum}}</h3>
                <div></div> 
            </div>
            <div class="students-container-admin" id="{{nazev}}">
                {% for zak in zaci %}
                        <div class="student-line-admin-grid-8" id="zak_{{ zak['id'] }}">
                            <div>{{ zak['ev_cislo']}}</div>
                            <div>{{ zak['jmeno']}}</div>
                            <div>{{ zak['prijmeni']}}</div>
                            <div>{{ zak['narozeni']}}</div>
                            <div>{{ zak['typ_zkousky']}}</div>
                            <div>{{ zak['druh_zkousky']}}</div>
                            <div>{{ zak['cas']}}</div>
                            {% if zak['zaver'] == 'Y' %}
                                <div> Splněno </div>
                            {% else %}
                                <div> Nesplněno </div>
                            {% endif %}               
                        </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}