<!-- HTML stránka po aktivní termín ("Y"), která je pro komisaře bez práv -->
{% extends 'template.html' %}
{% block title %}{{termin.datum.strftime('%d.%m.%Y')}}{% endblock %}
{% block nav %}
    {% include 'nav_bar_commisar.html' %}
{% endblock %}
{% block main %}
    <main class="term-main">
        <div class="column-div">
            <div class="term-container">       
                <h3>Datum: {{termin.datum.strftime('%d.%m.%Y')}}</h3>
                <h3>Místa: {{termin.max_ridicu}}</h3>
                <h3>Volná místa: {{ volna_mista }}</h3> 
            </div>
        {% for nazev, students in list_as.items() %}
            <div class="students-container-admin" id="{{nazev}}">
                <div class="nazev">{{nazev}}</div>
                <div style="padding-right: 2%;">
                    <button class="document-button" onclick="makeDocument('{{ nazev }}', '{{termin.datum}}')">Dokument</button>
                </div>
                {% for zak in students %}
                    {% if zak['potvrzeni'] == 'Y' %}
                        <div class="grid-for-7" id="zak_{{ zak['id'] }}">
                            <div>{{ zak['ev_cislo']}}</div>
                            <div>{{ zak['jmeno']}}</div>
                            <div>{{ zak['prijmeni']}}</div>
                            <div>{{ zak['narozeni'].strftime('%d.%m.%Y')}}</div>
                            <div>{{ zak['typ_zkousky']}}</div>
                            <div>{{ zak['druh_zkousky']}}</div>
                            <div>Zapsaný</div>         
                        </div>
                    {% else %}
                        <div class="grid-for-7" id="zak_{{ zak['id'] }}">                       
                            <div>{{ zak['ev_cislo']}}</div>
                            <div>{{ zak['jmeno']}}</div>
                            <div>{{ zak['prijmeni']}}</div>
                            <div>{{ zak['narozeni'].strftime('%d.%m.%Y')}}</div>
                            <div>{{ zak['typ_zkousky']}}</div>
                            <div>{{ zak['druh_zkousky']}}</div>
                            <div>
                                Čekání na zápis
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        {% if volna_mista > 0 %}
            <div class="students-container-admin" style="display: none;" id="result">
                <div id="result-content"></div> <!-- Sekce pro data -->
                <div class="center-div">
                    <button type="button" onclick="sendAllStudentIds()" id="sendButton">Odeslat ID</button>
                </div>
            </div>
            <div class="div-select">
                <div class="grid-for-2-select">
                    <div>
                        <label for="autoskola">Autoškola:</label>
                        <select class="input-box3" name="driving-school" id="autoskola">
                            <option value="" disabled selected hidden>Autoškola</option>
                            {% for autoskola in autoskoly %}
                                <option id="{{autoskola.id}}">{{autoskola.nazev}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="evidencniCislo">Evidenční číslo:</label>
                        <input class="input-box3" type="text" id="evidencniCislo">
                    </div>
                </div>
                <div class="center-div">
                    <button type="button" onclick="fetchStudent()">Odeslat</button>
                </div>
            </div>
        {% endif %}
        </div>
    </main>
    <script src="{{ url_for('static', filename='term_admin.js') }}"></script>
    <script>
        const maxForms = {{volna_mista}}

        async function sendAllStudentIds() {
            const resultSection = document.getElementById("result");
            const studentDivs = resultSection.querySelectorAll('[data-student-id]');

            // Mapování ID a hodnot z selectů
            const studentsData = Array.from(studentDivs).map(div => {
                const studentId = div.getAttribute('data-student-id');
                const licenseCategory = div.querySelector('[name="license_category"]').value;
                const examType = div.querySelector('[name="exam_type"]').value;

                return {
                    id: studentId,
                    license_category: licenseCategory,
                    exam_type: examType
                };
            });

            try {
                const response = await fetch('/api/add_drivers', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ students: studentsData }),
                });

                if (!response.ok) {
                    throw new Error('Chyba při odesílání dat studentů.');
                }

                alert('Data studentů byla úspěšně odeslána.');
                window.location.reload()
            } catch (error) {
                alert(error.message);
            }
        }

        let list_ev = [];

        async function fetchStudent() {
            // Get selected values
            const autoskolaSelect = document.getElementById("autoskola");
            const autoskolaId = autoskolaSelect.options[autoskolaSelect.selectedIndex].id;
            const evidencniCislo = document.getElementById("evidencniCislo").value;

            if (!autoskolaId || !evidencniCislo) {
                alert("Prosím, vyplňte všechna pole.");
                return;
            }

            if (list_ev.includes(evidencniCislo)) {
            alert("Toto evidenční číslo již bylo zadáno.");
            return;
            }

            list_ev.push(evidencniCislo);

            try {
                const response = await fetch("/api/get_student", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        autoskolaId: autoskolaId,
                        evidencniCislo: evidencniCislo,
                    }),
                });

                if (!response.ok) {
                    const errorMessage = await response.json();
                    alert(errorMessage.error || 'Nastala chyba při získávání údajů o studentovi.');
                    return;
                }

                const data = await response.json();

                // Format the date to dd.mm.yyyy
                const formattedDate = new Date(data.dat_nar).toLocaleDateString('cs-CZ');
                data.dat_nar = formattedDate;

                // Přidání záznamu do `result-content` na začátek
        const resultSection = document.getElementById("result");
        const resultContent = document.getElementById("result-content");
        resultSection.style.display = 'block';

        const studentHTML = `
            <div data-student-id="${data.id}" class="grid-for-6">
                <p style= margin-top:3px;margin-bottom:3px;>${data.ev_cislo}</p>
                <p style= margin-top:3px;margin-bottom:3px;>${data.jmeno}</p>
                <p style= margin-top:3px;margin-bottom:3px;>${data.prijmeni}</p>
                <p style= margin-top:3px;margin-bottom:3px;>${data.dat_nar}</p>
                <div class="form-group">
                    <select name="license_category" id="license_category">
                        <option value="A">A</option>
                        <option value="B" selected>B</option>
                        <option value="C">C</option>
                        <option value="C+E">C+E</option>
                        <option value="D">D</option>
                        <option value="D+E">D+E</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="exam_type" id="exam_type">
                        <option value="Řádná_zkouška" selected>Řádná zkouška</option>
                        <option value="Opravná_zkouška-test+jízda">Opravná zkouška (jízda+test)</option>
                        <option value="Opravná_zkouška-jízda">Opravná zkouška (jízda)</option>
                        <option value="Opravná_zkouška-technika">Opravná zkouška (technika)</option>
                        <option value="Opravná_zkouška-technika+jízda">Opravná zkouška (technika+jízda)</option>
                        <option value="Profesní_způsobilost-test">Profesní způsobilost</option>
                    </select>
                </div>
            </div>
        `;
        resultContent.insertAdjacentHTML('afterbegin', studentHTML); // Přidání na začátek
            } catch (error) {
                alert(error.message);
                messageBox.style.color = 'red';
                messageBox.style.marginTop = '20px';
            }
        }
 
    </script>
{% endblock %}