{% extends 'template.html' %}
{% block title %}{{termin.datum}}{% endblock %}
{% block nav %}
    <nav>
        <div class="navbar">
            <img src="../static/images/logo_most.png" alt="Logo_Most" height="40px">
            <p>Rezervační<br/>systém Most</p>
            <a class="logout" href="{{ url_for('logout') }}">Odhlásit se</a>
        </div>
    </nav>
{% endblock %}
{% block main %}
    <main class="term-main">
        <div class="column-div">
            <div class="term-container">       
                <div></div>
                <h3>{{termin.datum}}</h3>
                <div></div> 
            </div>
            <div class="students-container-admin" id="{{nazev}}">
                {% for zak in zaci %}
                        <div class="student-line-admin-grid-9" id="zak_{{ zak['id'] }}">
                            <div>{{ zak['ev_cislo']}}</div>
                            <div>{{ zak['jmeno']}}</div>
                            <div>{{ zak['prijmeni']}}</div>
                            <div>{{ zak['narozeni']}}</div>
                            <div>{{ zak['typ_zkousky']}}</div>
                            <div>{{ zak['druh_zkousky']}}</div>
                            <div>{{ zak['cas']}}</div>
                            <div>{{ zak['zaver']}}</div>
                            {% if zak['zaver'] == 'Y' %}
                                <div> Splněno </div>
                            {% else %}
                                <div> Nesplněno </div>
                            {% endif %}               
                        </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}