<!-- HTML by měla být určena pro admina. Má zobrazovat studenty zapsané na neaktivní termín + dát mu možnost je zapsat -->
{% extends 'template.html' %}
{% block title %}{{termin.datum.strftime('%d.%m.%Y')}}{% endblock %}
{% block nav %}
    {% include 'nav_bar_admin.html' %}
{% endblock %}
{% block main %}
    <main class="term-main">
        <div class="column-div">
            <div class="term-container">       
                <h3>{{termin.datum.strftime('%d.%m.%Y')}}</h3>
                <h3>Počet řidičů: {{termin.max_ridicu}}</h3>
                <h3 id="volna_mista">Volná místa: {{volna_mista}}</h3> 
            </div>
        {% for nazev, students in list_as.items() %}
            <div class="students-container-admin" id="{{nazev}}">
                <div class="nazev">{{nazev}}</div>
                {% for zak in students %}
                    {% if zak['potvrzeni'] == 'Y' %}
                        <div class="grid-for-9" id="zak_{{ zak['id'] }}">
                            <div>zapsany</div>
                            <div>{{ zak['ev_cislo']}}</div>
                            <div>{{ zak['jmeno']}}</div>
                            <div>{{ zak['prijmeni']}}</div>
                            <div>{{ zak['narozeni']}}</div>
                            <div>{{ zak['typ_zkousky']}}</div>
                            <div>{{ zak['druh_zkousky']}}</div>
                            <div>{{ zak['komisar'] }}</div>
                            <div>{{ zak['cas']}}</div>         
                        </div>
                    {% else %}
                        <div class="grid-for-9" id="zak_{{ zak['id'] }}">                       
                            <div>{{ zak['ev_cislo']}}</div>
                            <div>{{ zak['jmeno']}}</div>
                            <div>{{ zak['prijmeni']}}</div>
                            <div>{{ zak['narozeni']}}</div>
                            <div>{{ zak['typ_zkousky']}}</div>
                            <div>{{ zak['druh_zkousky']}}</div>
                            <input type="time" name="time-start" id="time-zak_{{zak['id']}}" placeholder="začátek" value="08:00" required>
                            <select name="commissar" id="commissar-for-zak_{{zak['id']}}" required>
                                {% for komisar in komisari %}
                                    <option value="{{komisar['id']}}">{{komisar['jmeno']}} {{komisar['prijmeni']}}</option>
                                {% endfor %}
                            </select>
                            <button class="form-button" onclick="enrollStudent('{{ zak['id'] }}')">Přihlásit</button>         
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <!-- Pod tímhle komentem je form na zápis studentů -->
        <div class="form-container">
            <div id="form-list">
                <form class="exam-form">
                    <div class="form-line">
                        <div class="form-group">
                            <input type="text" name="evidence_number" id="evidence_number" placeholder="E.č" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" placeholder="Jméno" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" placeholder="Příjmení" required>
                        </div>
                        <div class="form-group">
                            <input type="date" name="birth_date" id="birth_date" required>
                        </div>
                        <div class="form-group">
                            <select name="license_category" id="license_category">
                                <option value="A">A</option>
                                <option value="B" selected>B</option>
                                <option value="C">C</option>
                                <option value="C+E">C+E</option>
                                <option value="D">D</option>
                                <option value="D+E">D+E</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="exam_type" id="exam_type">
                                <option value="Řádná_zkouška" selected>Řádná zkouška</option>
                                <option value="Opravná_zkouška-test+jízda">Opravná zkouška (jízda+test)</option>
                                <option value="Opravná_zkouška-jízda">Opravná zkouška (jízda)</option>
                                <option value="Opravná_zkouška-technika">Opravná zkouška (technika)</option>
                                <option value="Opravná_zkouška-technika+jízda">Opravná zkouška (technika+jízda)</option>
                                <option value="Profesní_způsobilost-test">Profesní způsobilost</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="buttons center-div margin-top-10">
                <button class="form-button" type="button" id="add-form">Přidat další formulář</button>
                <button class="form-button" type="button" id="remove-form">Odebrat poslední formulář</button>
            </div>
            <div class="buttons center-div margin-top-10 margin-bot-10">
                <button class="form-button" type="submit" id="submit-forms">Odeslat všechny formuláře</button>
            </div>
        </div>
        </div>
    </main>
    <script>
        function createEmptyForm() {
    const form = document.createElement('form');
    form.className = 'exam-form';

    form.innerHTML = `
        <div class="form-line">
            <div class="form-group">
                <input type="text" name="evidence_number" id="evidence_number" placeholder="E.č" required>
            </div>
            <div class="form-group">
                <input type="text" name="first_name" id="first_name" placeholder="Jméno" required>
            </div>
            <div class="form-group">
                <input type="text" name="last_name" id="last_name" placeholder="Příjmení" required>
            </div>
            <div class="form-group">
                <input type="date" name="birth_date" id="birth_date" required>
            </div>
            <div class="form-group">
                <select name="license_category" id="license_category">
                    <option value="A">A</option>
                    <option value="B" selected>B</option>
                    <option value="C">C</option>
                    <option value="C+E">C+E</option>
                    <option value="D">D</option>
                    <option value="D+E">D+E</option>
                </select>
            </div>
            <div class="form-group">
                <select name="exam_type" id="exam_type">
                    <option value="Řádná_zkouška" selected>Řádná zkouška</option>
                    <option value="Opravná_zkouška-test+jízda">Opravná zkouška (jízda+test)</option>
                    <option value="Opravná_zkouška-jízda">Opravná zkouška (jízda)</option>
                    <option value="Opravná_zkouška-technika">Opravná zkouška (technika)</option>
                    <option value="Opravná_zkouška-technika+jízda">Opravná zkouška (technika+jízda)</option>
                    <option value="Profesní_způsobilost-test">Profesní způsobilost</option>
                </select>
            </div>
        </div>
    `;

    return form;
}

const maxForms = {{volna_mista}}

document.getElementById('add-form').addEventListener('click', function() {
    const formList = document.getElementById('form-list');
    const currentForms = formList.getElementsByTagName('form').length;

    if (currentForms < maxForms) {
        const newForm = createEmptyForm();
        formList.appendChild(newForm);
    } else {
        alert(`Nelze přidat více formulářů. Je pouze ${maxForms} volných míst.`);
    }
});

document.getElementById('remove-form').addEventListener('click', function() {
    const formList = document.getElementById('form-list');
    if (formList.children.length > 1) {
        formList.removeChild(formList.lastElementChild);
    }
});

/* Nutnost předělat. Metoda volá api endpoint, který by schodil stránku */
document.getElementById('submit-forms').addEventListener('click', function() {
    const forms = document.querySelectorAll('.exam-form');
    const data = Array.from(forms).map(form => {
        const formData = new FormData(form);
        return Object.fromEntries(formData.entries());
    });
    console.log(data)
    fetch('/api/enroll_by_admin', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (response.ok) {
            location.reload();
        } else {
            alert('Nastala chyba při odesílání formulářů.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Nastala chyba při odesílání formulářů.');
    });
});

document.addEventListener('DOMContentLoaded', function() {
    const deleteButtons = document.querySelectorAll('.delete-student');

    deleteButtons.forEach(button => {
        button.addEventListener('click', function() {
            alert('clicked');
            const zakId = this.getAttribute('data-zakId');
            const terminId = this.getAttribute('data-terminId');
            const studentDiv = document.getElementById(`zak_${zakId}`);

            fetch('/api/delete_student', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ zak_id: zakId, termin_id: terminId })
            })
            .then(response => {
                if (response.ok) {
                    // Úspěšné odstranění
                    studentDiv.remove();
                } else {
                    console.error('Chyba při mazání studenta');
                }
            })
            .catch(error => {
                console.error('Chyba při spojení s API:', error);
            });
        });
    });
});

function enrollStudent(zakId) {
    const studentDiv = document.getElementById(`zak_${zakId}`);

    
    const timeStart = document.getElementById(`time-zak_${zakId}`).value;
    const commissar = document.getElementById(`commissar-for-zak_${zakId}`).value;
    
    const data = {
        id: zakId, 
        time_start: timeStart,
        commissar: commissar
    };
    
    fetch('/enroll', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (response.ok) {
            location.reload();
        } else {
            console.error('Failed to enroll student');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
        
    </script>
{% endblock %}