
/* Media pro desktopy*/
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #425CC7;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow-y: auto;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

label{
    font-family: 'Work Sans';
}

.nav_bar-desktop {
    background-color: #FFFFFF;
    width: 100%;
    height: 10%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bell-div{
    margin-left: auto;
    margin-right: 5px;
}

.navbar-left {
    display: flex;
    align-items: center; /* Aby byly logo a text vertikálně vyrovnané */
}

/* 'Hamburger menu pro mobilní platformy' */
.menu-toggle {
    display: none;
    color: white;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav_bar-desktop img{
    padding: 20px;
}

.nav_bar-desktop p {
    font-family: 'Work Sans';
    font-size: 20px;
    margin: 0;
}

.navbar-links {
    display: flex;
    gap: 20px; /* Rozdělí odkazy rovnoměrně */
    align-items: center;
    margin-right: 20px;
}

#mobile-menu { /* Zabra%nuje konfliktu s mobilními zařízeními */
    display: none;
    flex-direction: column;
    gap: 10px;
}

.logout {
    font-family: 'Work Sans';
    font-size: 20px;
    padding: 5px;
    color: #000000;
    text-decoration: underline;
}

.mess_success {
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 10px;
    color: #00A541;
    margin-top: 3%;
    align-items: center;
}

.mess_error {
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 10px;
    color: #e93609;       
    margin-top: 3%;
    align-items: center;
}

.log_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: auto;*/
    margin-top: 50px;
    height: fit-content;
    width: 30%;
    border-radius: 10px;
    background-color: #C6DAF2;
    flex-shrink: 0;
}

.version {
    margin-left: auto;
    margin-right: 2%;
    font-family: 'Work Sans';
    color: #90b7e7;  
}


.log_div form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    height: 100%;    
}

.input-box {
    border-color: #FFFFFF;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 1%;
    background-color: #FFFFFF;
    font-family: 'Work Sans';
    font-size: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.log_div button {
    background-color: #00A541;
    font-family: 'Work Sans';
    font-size: 100%;
    color: #FFFFFF;
    border-radius: 4px;
    margin-top: 5%;
    width: 70%;
    max-width: 300px;
    height: 15%;
    cursor: pointer;
}

.log_div .odkaz {
    font-family: 'Work Sans';
    font-size: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    color:#425CC7;
}

.calendar_main {
    display: flex;
    justify-content: center;    
}

.calendar_main_user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar_menu {
    display: none;
    background-color: #fff;
    padding: 20px;
    margin: 2%;
    border-radius: 4px;
    height: 70%;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 18px;
    font-family: 'Work Sans';
    margin-right: 10px;
}

.input-group input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #888;
    text-align: center;
    background-color: #d6e0f5;
}

.confirm-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.confirm-btn:hover {
    background-color: #218838;
}

.calendar {
    width: 60%;
    height: 70%;
    background-color: #fff;
    padding: 20px;
    margin: 2%;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    font-family: 'Work Sans';
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
}

.weekdays {
    height: 5%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1%;
    align-items: center;
    margin-top: 1%;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 90%;
    width: 100%;
    gap: 1%;
}

.weekdays div, .days div {
    text-align: right;
    vertical-align: text-top;
    padding: 1%;
}

.days div {
    background-color: #e4e4e4;
    border-radius: 5px;
    height: 94%;
    padding: 1%;
    margin: 1%;
}

.day {
    height: 100%;
}

.document-button {
    margin-left: 94%;
    margin-right: 2%;
    padding: 3px;
    height: 1.5em;
    border-radius: 2px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #0056b3;
}

/* Zarovnání .column na střed stránky */
.term-main {
    display: flex;
    justify-content: center; /* Horizontální zarovnání na střed */
    height: fit-content; /* Výška na celou stránku */
}

.column-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: auto; /* Automaticky přizpůsobí výšku obsahu */
    font-family: 'Work Sans';
    /*overflow: hidden;*/
}

.term-container {
    font-family: 'Work Sans';
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    border-radius: 4px;
    width: 100%;
    align-items: center;
    background-color: #C6DAF2;
    width: 100%;
}

/* Box pro .term-info */
.term-info {
    display: inline-block; /* Box pro .term-info, jehož elementy jsou inline */
    padding: 10px;
    border: 1px solid #000; /* Můžeš přidat border pro zvýraznění */
    margin-bottom: 20px; /* Odstup od .students-container */
}

/* Elementy .students-container inline */
.students-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    min-width: 1450px;
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #C6DAF2;
    width: 100%; /* Při zachování inline-block pro .students-container je šířka nastavena na 100% */
}

.students-container-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    min-width: 1450px;
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #C6DAF2;
    width: 100%; /* Při zachování inline-block pro .students-container je šířka nastavena na 100% */
}

.students-container-admin {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #C6DAF2;
    width: 100%;
    min-width: 1450px;
    overflow-x: auto;
}

.students-container_button {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #C6DAF2;
    width: 100%; /* Při zachování inline-block pro .students-container je šířka nastavena na 100% */
    min-width: 1450px;
    overflow-x: auto;
}

.students-container_button-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #C6DAF2;
    width: 100%; /* Při zachování inline-block pro .students-container je šířka nastavena na 100% */
    min-width: 1450px;
    overflow-x: auto;
}

/* .nazev zarovnaný na střed svého parent elementu */
.nazev {
    font-family: 'Work Sans';
    font-size: 18px;
    text-align: center; /* Text v .nazev je zarovnán na střed */
    font-weight: bold; /* Ztučnění textu, pokud je potřeba */
}

/* Elementy .student-line inline */
.student-line {
    font-family: 'Work Sans';
    display: contents; /* Flexbox pro zarovnání elementů inline */
    flex-wrap: wrap; /* Zalomení na další řádek, pokud se nevejdou do jednoho řádku */
    padding: 5px;
    margin: 2px;
    gap: 0px; /* Mezera mezi jednotlivými elementy */
    align-items: center;
    justify-content: center;
}

.student-line div {
    margin: 0;
    padding: 5px;
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
}

.student-line > * {
    flex: auto; /* Každý dětský element zabere stejný podíl prostoru */
    margin:  3px; /* Přidá mezery mezi elementy */
    text-align: center; /* Zarovná obsah elementu na střed */
}

.student-line-admin {
    font-family: 'Work Sans';
    display: flex; /* Flexbox pro zarovnání elementů inline */
    flex-wrap: wrap; /* Zalomení na další řádek, pokud se nevejdou do jednoho řádku */
    padding: 5px;
    margin: 2px;
    gap: 0px;
}

.no-fill {
    background-color: transparent;
    padding: 1px;
}

.student-line-admin-grid-9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1.5fr;
    gap: 10px;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Work Sans';
}

input[type='time'] {
    text-align: center;
}

.student-line-admin-grid-9 > *{
    text-align: center;
}

.student-line-admin-grid-9 input,
.student-line-admin-grid-9 select,
.student-line-admin-grid-9 button {
    justify-self: center; 
    align-self: center;   
    width: fit-content;           
    max-width: 200px;     
    text-align: center;
}

.student-line-admin-grid-9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Work Sans';
}

.student-line-admin-grid-11 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Work Sans';
}

.student-line-admin-grid-11 > *{
    text-align: center;
}

.student-line-admin-grid-11 input,
.student-line-admin-grid-11 select,
.student-line-admin-grid-11 button {
    justify-self: center; 
    align-self: center;   
    width: fit-content;           
    max-width: 200px;     
    text-align: center;
}

.student-line-admin-grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Work Sans';
}

.student-line-admin-grid-12 > *{
    text-align: center;
}

.student-line-admin-grid-12 input,
.student-line-admin-grid-12 select,
.student-line-admin-grid-12 button {
    justify-self: center; 
    align-self: center;   
    width: fit-content;           
    max-width: 200px;     
    text-align: center;
}

.grid-for-9-sign_up {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 3fr;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Work Sans';
}

.grid-for-9-sign_up input, .grid-for-9-sign_up select {
    font-size: 16px;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.grid-for-9-sign_up > *{
    text-align: center;
}

.student-line-admin-grid-8 input, .student-line-admin-grid-8 select {
    font-size: 16px;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.grid-repeat-for-9 {
display: grid;
grid-template-columns: repeat(9, 1fr);
gap: 3px;
text-align: center;
}

.student-line-admin-grid-8 > *{
    text-align: center;
}

.event-day:hover {
    cursor: pointer;
}

.notification-popup {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
}

/* Zobrazení notifikací při přidání třídy 'visible' */
.notification-popup.visible {
    display: block;
}

/* Styl zvonečku pro zvýraznění klikatelnosti */
.bell-icon {
    cursor: pointer;
}

.logs-container {
    display: flex;
    flex-direction: column; /* Zajistí, že logy budou pod sebou */
    align-items: center; /* Centrovaní obsahu na střed */
    width: 100%;
    background-color: #C6DAF2;
    border-radius: 4px;
}

.log {
    display: grid;
    grid-template-columns: 15% 20% 10% 1fr;
    gap: 10px;
    width: 100%; /* Nastaví pevnou šířku pro každý log */
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Work Sans';
    border-bottom: 1px solid #000;
}

.log-zprava:nth-child(4) {
    white-space: nowrap;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #C6DAF2;
    font-family: 'Work Sans';
    margin-top: 30px;
    border-radius: 4px;
}

.form-line {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 10px;
    align-items: center;
}

.form-button {
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Work Sans';
    background-color: #425CC7;
    color: #fff;
    border-radius: 5px;
}

.form-button:hover{
    background-color: #283777;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group input[type="text"]{
    width: 80%;
}

.form-group input,
.form-group select {
    font-size: 16px;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.delete-student {
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Work Sans';
    background-color: #db0d0d;
    color: #fff;
    border-radius: 5px;
}

.delete-student:hover{
    background-color: #6b0707;
}

.unordered-list {
    list-style-type: none;
    font-family: 'Work Sans';
    font-size: 12px;
}

.unordered-list > * {
    margin-top: 15px;
}

.user-info {
    display: flex;
    flex-direction: row;
    background-color: #C6DAF2;
    font-family: 'Work Sans';
    width: 60%;
    margin-top: 30px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.grid-for-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 1%;
    justify-content: center;
}

.grid-for-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-top: 1%;
    justify-content: center;
}

.grid-for-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    margin-top: 1%;
    justify-content: center;
}

.small-gap {
    gap: 20px;
}

.grid-for-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3px;
    margin: 10px;
    align-items: center;
    font-family: 'Work Sans';
}

.grid-for-6 > * {
    text-align: center;
}

.grid-for-6 input, .grid-for-6 select {
    font-size: 16px;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.grid-for-6-align {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 3fr 2fr;
    gap: 3px;
    margin: 10px;
    align-items: center;
    font-family: 'Work Sans';
}

.grid-for-6-align > * {
    text-align: center;
    align-items: center;
}

.grid-for-6-align input, .grid-for-6-align select {
    font-size: 16px;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}


.grid-for-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
    margin: 10px;
    align-items: center;
    font-family: 'Work Sans';
}

.grid-for-7 > * {
    text-align: center;
}

.grid-for-7 input, .grid-for-7 select {
    font-size: 16px;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.grid-for-7-align {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 3fr 2fr;
    gap: 3px;
    margin: 10px;
    align-items: center;
    font-family: 'Work Sans';
}

.grid-for-7-align > * {
    text-align: center;
    align-items: center;
}

.grid-for-7-align input, .grid-for-7-align select {
    font-size: 16px;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.grid-for-7-end-of-teaching {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 2fr 2fr 2fr;
    gap: 3px;
    margin: 10px;
    align-items: center;
    font-family: 'Work Sans';
}

.grid-for-7-end-of-teaching > * {
    text-align: center;
    align-items: center;
}

.grid-for-7-end-of-teaching input, .grid-for-7-end-of-teaching select {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width: 15ch;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
}

.grid-for-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 3px;
    margin: 10px;
    align-items: center;
    font-family: 'Work Sans';
}

.grid-for-8 > * {
    text-align: center;
}

.grid-for-8 input, .grid-for-8 select {
    font-size: 16px;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.grid-for-8-end-of-teaching {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 2fr 2fr 2fr 2fr;
    gap: 3px;
    margin: 10px;
    align-items: center;
    font-family: 'Work Sans';
}

.grid-for-8-end-of-teaching > * {
    text-align: center;
    align-items: center;
}

.grid-for-8-end-of-teaching input, .grid-for-8-end-of-teaching select {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width: 15ch;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
}

.grid-for-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 3px;
    margin: 10px;
    align-items: center;
    font-family: 'Work Sans';
}

.grid-for-9 > * {
    text-align: center;
}

.grid-for-9 input, .grid-for-9 select {
    font-size: 16px;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.grid-for-9-align {
    display: grid;
    grid-template-columns: 6.452% 9.677% 9.677% 9.677% 9.677% 9.677% 9.677% 9.677% 25%; /* Nastavení poměrů sloupců */
    gap: 5px; /* Mezery mezi prvky */
    align-items: center; /* Zarovnání obsahu na střed */
    text-align: center; /* Standardně levé zarovnání */
    font-family: 'Work Sans';
}

.grid-for-9-align input, .grid-for-9-align select {
    font-size: 16px;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.grid-for-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 3px;
    margin: 10px;
    align-items: center;
    font-family: 'Work Sans';
}

.grid-for-10 > * {
    text-align: center;
}

.grid-for-10 input, .grid-for-10 select {
    font-size: 16px;
    height: 22px;
    border-width: 1px;
    font-family: 'Work Sans';
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.grid-for-2 {
    width: 100%;
    max-height: 400px;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 3px;
    margin-top: 30px;
    align-items: center;
}

.grid-for-2 > * {
    background-color: #C6DAF2;
    border-radius: 5px;
    font-family: 'Work Sans';
    height: 100%;
    padding: 3px;
}

.div-select{
    background-color: #C6DAF2;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.div-select > *{
    font-family: 'Work Sans';
}

.grid-for-2-select {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
    align-items: center;
}

.grid-for-2-select > * {
    font-family: 'Work Sans';
    height: 100%;
    padding: 3px;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: middle;
}

.center-div label {
    align-self: center;
    justify-self: center;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bot-10 {
    margin-bottom: 10px;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #C6DAF2;
    margin-top: 30px;
    border-radius: 4px;
}

.box-row {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: #C6DAF2;
    margin-top: 30px;
    border-radius: 4px;
    width: 100%;
}

.input-box2 {
    border-color: #000000;
    border-radius: 5px;
    padding: 0px;
    margin-left: 4px;
    background-color: #FFFFFF;
    font-family: 'Work Sans';
    font-size: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.input-box3 {
    border-color: #000000;
    border-radius: 5px;
    border-width: 1px;
    padding: 0px;
    margin-left: 4px;
    background-color: #FFFFFF;
    font-family: 'Work Sans';
    height: 30px;
    font-size: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.cars-box {
    min-width: 600px;
    width: 100%;
}

.search-div-fixed{
    position: sticky;
    bottom: 0;
    background-color: #C6DAF2;
    left: 30%;
    right: 70%;
    width: 40%;
    align-self: center;
    justify-content: center;
}

.input-box5{
    border-color: #000000;
    border-radius: 5px;
    border-width: 1px;
    padding: 0px;
    background-color: #FFFFFF;
    font-family: 'Work Sans';
    height: 24px;
    font-size: 100%;
    display: flex;
    width: 30%;
    text-align: center;
}

.input-box4 {
    border-color: #000000;
    border-radius: 4px;
    border-width: 1px;
    padding: 0px;
    margin-left: 4px;
    background-color: #FFFFFF;
    font-family: 'Work Sans';
    height: 30px;
    min-width: 100px;
    width: 20em;
    font-size: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

h3.error {
    margin-top: 1%;
    font-family: 'Work Sans';
    color: white;
    font-style: italic;
    font-size: 2rem;
    text-shadow: 8px 10px 8px rgba(0, 0, 0, 0.2);
}

h1.error {
    color: white;
    font-family: 'Work Sans';
    font-size: 10rem;
    font-style: italic;
    text-shadow: 13px 9px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 0px;
}

.school-name {
    color: black;
    font-family: 'Work Sans';
    font-size: 2rem;
    font-style: italic;
    text-shadow: 13px 9px 8px rgba(0, 0, 0, 0.2);
    margin-top: 1%;
    margin-bottom: 1%;
}

.vehicle-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rights-box {
    display: flex;
    flex-direction: column;
    background-color: #C6DAF2;
    font-family: 'Work Sans';
    margin-top: 30px;
    border-radius: 4px;
}

.vycentrovat-text{
    text-align: center;
}

.vycentrovat-text > * {
    text-align: center;
}

#bellIcon {
    stroke: black; /* Výchozí barva */
    transition: stroke 0.3s ease;
}

#bellIcon.has-new-notifications {
    stroke: orange;  /* Zvýrazní zvoneček žlutou barvou */
    animation: pulse 1s infinite; /* Přidá pulzující efekt (volitelné) */
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.car-form{
    position: sticky;
    bottom: 0;
}
/* tablet */

.make_list_button{
    border: white;
    border-width: 2px;
    background-color: #218838;
    border-color: white;
}

/* mobil */
@media (max-width: 768px) {
    .nav_bar-desktop {
        flex-direction: row; /* Navigace pod sebou */
        align-items: flex-start;
        align-items: center;
    }

    .bell-div{
        margin-left: auto;
        margin-right: 5px;
        padding: 10px;
    }

    .navbar-left{
        display: none;
    }

    .navbar-links {
        display: none;
        background-color: white;
        position: absolute;
        width: 50%;
        top: 50px;
        right: 0;
        flex-direction: column;
        border-radius: 5px;
    }

    .notification-popup {
        display: none;
        position: absolute;
        background-color: white;
        border-radius: 5px;
        width: 70%;
        top: 50px;
        right: 40px;
        flex-direction: column;
    }

    .navbar-links.show {
        display: block; /* Zobrazení navigace */
    }

    .menu-toggle {
        display: block; /* Zobrazení na menších obrazovkách */
        background: transparent; /* Průhledné pozadí */
        border: none; /* Žádný okraj */
        color: black; /* Barva ikonky */
        font-size: 2.1rem; /* Velikost ikonky */
        cursor: pointer; /* Ukazatel ruky */
        padding: 10px;
    }
    
    .menu-toggle:focus,
    .menu-toggle:active {
        outline: none; /* Žádný okraj při kliknutí */
        background: rgba(0, 0, 0, 0.1); /* Jemné průhledné pozadí při aktivaci */
        outline: none;
        box-shadow: none;
        background-color: inherit;
    }

    .logout {
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px;
    }
}

.left-change-button {
    margin-top: 20px;
    position: absolute;
    right: 30px;
    background-color: #C6DAF2;
    color: #000;
}

.end-of-training-box {
    background-color: #C6DAF2;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-height: 70%;
    overflow-y: auto;
    padding: 5px;
    border-radius: 5px;
    align-self: center;
}

.end-of-training-box ul {
    font-family: 'Work Sans';
    list-style-type: none;
    padding: 0px;
}

.end-of-training-box ul > * {
    margin-top: 2px;
    margin-bottom: 2px;
}