/* Media pro desktopy*/
@media only screen and (min-width:1024px) {
    html {
        width: 100%;
        height: 100%;
    }

    body {
        background-color: #425CC7;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    main{
        width: 100%;
        height: 100%;
    }

    .navbar {
        background-color: #FFFFFF;
        width: 100%;
        height: 10%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-left {
        display: flex;
        align-items: center; /* Aby byly logo a text vertikálně vyrovnané */
    }

    .navbar img{
        padding: 20px;
    }

    .navbar p {
        font-family: 'Work Sans';
        font-size: 20px;
        margin: 0;
    }

    .navbar-links {
        display: flex;
        gap: 20px; /* Rozdělí odkazy rovnoměrně */
        align-items: center;
        margin-right: 20px;
    }

    .navbar .logout {
        font-family: 'Work Sans';
        font-size: 20px;
        padding: 5px;
        color: #000000;
        text-decoration: underline;
    }

    .mess_success {
        font-family: 'Work Sans';
        font-weight: bold;
        font-size: 10px;
        color: #00A541;
        margin-top: 3%;
        align-items: center;
    }

    .mess_error {
        font-family: 'Work Sans';
        font-weight: bold;
        font-size: 10px;
        color: #e93609;       
        margin-top: 3%;
        align-items: center;
    }

    .log_div {
        display: flex;
        justify-content: center;
        align-items: middle;
        margin: auto;
        margin-top: 10%;
    }

    .log_div form {
        border-radius: 10px;
        display: flex;  /* Flexbox for the form elements */
        flex-direction: column;  /* Stack elements vertically */
        align-items: center;
        background-color: #C6DAF2;
    }

    .input-box {
        border-color: #FFFFFF;
        border-radius: 10px;
        width: 384px;
        height: 40px;
        margin: 50px;
        margin-top: 5%;
        margin-bottom: 1%;
        background-color: #FFFFFF;
        font-family: 'Work Sans';
        font-size: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .log_div button {
        background-color: #00A541;
        font-family: 'Work Sans';
        font-size: 100%;
        color: #FFFFFF;
        border-radius: 4px;
        margin-top: 5%;
        width: 50%;
        height: 40px;
        cursor: pointer;
    }

    .log_div .odkaz {
        font-family: 'Work Sans';
        font-size: 60%;
        margin-top: 5%;
        margin-bottom: 5%;
        color:#425CC7;
    }
}

.calendar_main {
    display: flex;
    justify-content: center;    
}

.calendar_main_user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar_menu {
    display: none;
    background-color: #fff;
    padding: 20px;
    margin: 2%;
    border-radius: 4px;
    height: 70%;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 18px;
    font-family: 'Work Sans';
    margin-right: 10px;
}

.input-group input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #888;
    text-align: center;
    background-color: #d6e0f5;
}

.confirm-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.confirm-btn:hover {
    background-color: #218838;
}

.calendar {
    width: 60%;
    height: 70%;
    background-color: #fff;
    padding: 20px;
    margin: 2%;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    font-family: 'Work Sans';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.weekdays div, .days div {
    text-align: right;
    vertical-align: text-top;
    padding: 10px;
}

.days div {
    background-color: #e4e4e4;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #0056b3;
}

/* Zarovnání .column na střed stránky */
.term-main {
    display: flex;
    justify-content: center; /* Horizontální zarovnání na střed */
    height: 100vh; /* Výška na celou stránku */
}

.column-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: auto; /* Automaticky přizpůsobí výšku obsahu */
    /*overflow: hidden;*/
}

.term-container {
    font-family: 'Work Sans';
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    border-radius: 4px;
    width: 100%;
    align-items: center;
    background-color: #C6DAF2;
    width: 100%;
}

/* Box pro .term-info */
.term-info {
    display: inline-block; /* Box pro .term-info, jehož elementy jsou inline */
    padding: 10px;
    border: 1px solid #000; /* Můžeš přidat border pro zvýraznění */
    margin-bottom: 20px; /* Odstup od .students-container */
}

/* Elementy .students-container inline */
.students-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    align-items: center;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #C6DAF2;
    width: 100%; /* Při zachování inline-block pro .students-container je šířka nastavena na 100% */
}

.students-container-admin {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #C6DAF2;
    width: 100%;
}

.students-container_button {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #C6DAF2;
    width: 100%; /* Při zachování inline-block pro .students-container je šířka nastavena na 100% */
}

/* .nazev zarovnaný na střed svého parent elementu */
.nazev {
    font-family: 'Work Sans';
    font-size: 18px;
    text-align: center; /* Text v .nazev je zarovnán na střed */
    font-weight: bold; /* Ztučnění textu, pokud je potřeba */
}

/* Elementy .student-line inline */
.student-line {
    font-family: 'Work Sans';
    display: contents; /* Flexbox pro zarovnání elementů inline */
    flex-wrap: wrap; /* Zalomení na další řádek, pokud se nevejdou do jednoho řádku */
    padding: 5px;
    margin: 2px;
    gap: 0px; /* Mezera mezi jednotlivými elementy */
    align-items: center;
    justify-content: center;
}

.student-line div {
    margin: 0;
    padding: 5px;
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
}

.student-line > * {
    flex: auto; /* Každý dětský element zabere stejný podíl prostoru */
    margin:  3px; /* Přidá mezery mezi elementy */
    text-align: center; /* Zarovná obsah elementu na střed */
}

.student-line-admin {
    font-family: 'Work Sans';
    display: flex; /* Flexbox pro zarovnání elementů inline */
    flex-wrap: wrap; /* Zalomení na další řádek, pokud se nevejdou do jednoho řádku */
    padding: 5px;
    margin: 2px;
    gap: 0px;
}

.no-fill {
    background-color: transparent;
    padding: 1px;
}

.student-line-admin-grid-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Work Sans';
}

.student-line-admin-grid-9 > *{
    text-align: center;
}

.student-line-admin-grid-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Work Sans';
}

.student-line-admin-grid-8 > *{
    text-align: center;
}

.event-day:hover {
    cursor: pointer;
}

.day {
    height: 100px;
}

.notification-popup {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
}

/* Zobrazení notifikací při přidání třídy 'visible' */
.notification-popup.visible {
    display: block;
}

/* Styl zvonečku pro zvýraznění klikatelnosti */
.bell-icon {
    cursor: pointer;
}